img {
  width: auto;
  max-width: 100%;
}

.author .author__body {
  font-size: 0.8rem;
  line-height: 1.7rem;
}
.author .author__contact {
}

.taxonomies .taxonomies__body {

}

.taxonomies__body > ul > li {
    line-height: 1.7rem;
}
