/*
 * #eceff1
 * #b0bec5
 * #337ab7
 */

/* Reset */
html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,sans-serif;
  font-size: inherit;
  font-size: inherit;
  color: #090a29;
  line-height: 1rem;
  background-color: #eceff1;
}

a {
  color: #090a29;
}

a:hover, a:focus, a:active {
  color: #337ab7;
  text-decoration: none;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  padding-left: 1.5rem;
}

li {
  line-height: 1.5rem;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.6rem; line-height: 2rem; }
h2 { font-size: 1.3rem; line-height: 2rem; }
h3 { font-size: 1.1rem; line-height: 2rem; }
h4 { font-size: 1rem; line-height: 2rem; }
h5 { font-size: 1rem; line-height: 2rem; }

@media (max-width: 768px) {
  h1 { font-size: 1.4rem; line-height: 1.5rem; }
  h2 { font-size: 1.2rem; line-height: 1.5rem; }
}


/* Override */
#TableOfContents {
  font-size: .8rem;
  line-height: 1.5rem;
}

#TableOfContents a {
  display: block;
}

#TableOfContents ul ul a {
  text-decoration: none;
}

#TableOfContents>ul {
  padding-left: 0;
  list-style: none;
}

#TableOfContents>ul>li {
  font-weight: 900;
  margin-bottom: 1rem;
}

#TableOfContents>ul ul {
  padding-left: 0;
  font-weight: normal;
  list-style: none;
}

#TableOfContents>ul ul ul {
  padding-left: 1rem;
  list-style: none;
}

/* Layouts */
.l-header {
  background-color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.l-footer {
  margin-top: 4rem;
  padding: 1rem 0;
  font-size: .8rem;
  color: #b0bec5;
  text-align: center;
}

.l-footer a {
  color: #337ab7;
}

/* Parts:logo */
.p-logo a {
  font-family: 'Pacifico', sans-serif;
  font-size: 2rem;
  color: rgb(61, 89, 107);
}

.p-logo a:hover, .p-logo a:focus, .p-logo a:active {
  color: #337ab7;
  text-decoration: none;
}

/* Parts:menu */
.p-menu {
  line-height: 1.5rem;
}

.p-menu a {
  display: block;
}

.p-menu ul {
  font-size: .8rem;
  list-style: none;
  padding-left: 0;
}

.p-menu ul a {
  text-decoration: none;
}

.p-menu ul ul {
  padding-left: 1rem;
}

  /* Parts:share */
.p-share{
  min-width: 100%;
  margin: 0 0 1.5rem -0.7rem;
}

.p-share .share-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: .25rem;
}

.p-share a {
  display: table-cell;
  text-align: center;
  font-weight: 700;
  font-size: .8rem;
  padding: .5rem 0;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 5px;
}

.p-share a.ht { background-color: #00a4de; border-bottom: 2px solid #0083b1; }
.p-share a.fb { background-color: #3b5998; border-bottom: 2px solid #2f4779; }
.p-share a.tw { background-color: #1da1f2; border-bottom: 2px solid #1780c1; }
.p-share a.gp { background-color: #dd4b39; border-bottom: 2px solid #b03c2d; }
.p-share a.ln { background-color: #00c300; border-bottom: 2px solid #009c00; }
.p-share a.pk { background-color: #fa0047; border-bottom: 2px solid #b02d51; }

.p-share a.ht::before { content: 'Hatena'; }
.p-share a.fb::before { content: 'Facebook'; }
.p-share a.tw::before { content: 'Twitter'; }
.p-share a.gp::before { content: 'Google+'; }
.p-share a.ln::before { content: 'LINE'; }
.p-share a.pk::before { content: 'Pocket'; }

/* Parts:page-title */
.p-page-title {
  font-size: 1.8rem;
  margin: 0 0 1.2rem 0.1rem;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(61, 89, 107);
}

/* Parts:paging */
.p-paging a {
  color: #337ab7;
  font-weight: bold;
  display: inline-block;
  line-height: 2rem;
  padding: 0.5rem 1.3rem;
  background-color: #fff;
  margin-right: 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin: 1rem 0;
}

/* Parts:section */
section {
  margin-bottom: 3.6rem;
}

section>header {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(61, 89, 107);
}

section>div {
  font-size: .8rem;
}

/* Parts:article */
article {
  word-break: break-all;
}

article>a {
  display: block;
}

article .image {
  background-size: cover;
  background-position: center;
}

article .date {
  font-size: .8rem;
  font-weight: 600;
  color: #666; 
}

/* Parts:article:li */
article.li {
  margin-bottom: 1.1rem;
}

article.li .image {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

article.li footer {
  display: table-cell;
  height: 2.5rem;
  vertical-align: middle;
  padding-left: .5rem;
  padding-right: .3rem;
}

article.li .date {
  font-size: .7rem;
}

article.li .title {
  font-size: .8rem;
  line-height: 1.3rem;
  font-weight: 700;
}

/* Parts:article:grid */
article.grid {
  margin-bottom: 2rem;
  background-color: #fff;
  height: 26rem;
  max-height: 26rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-radius: 5px;
}

article.grid .image {
  min-height: 12rem;
}

article.grid .title {
  margin-bottom: .8rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-height: 4.5rem;
  overflow: hidden;
  font-weight: bold;
}

article.grid .summary {
  color: #333;
  max-height: 6.6rem;
  line-height: 1.7rem;
  overflow: hidden;
}

article.grid footer {
  padding: 1rem;
  /* max-height: 12.2rem; */
}

/* Parts:article:single */
article.single {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 5px;
}
@media (max-width: 768px) {
  article.single  {
  margin-right: -15px;
  margin-left: -15px;
  border-radius: 0;
  }
}

article.single .image {
  min-height: 24rem;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 768px) {
  article.single .image {
    min-height: 12rem;
    border-radius: 0;
  }
}

article.single aside {
  padding: 0 0.5rem;
}

article.single .body {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  article.single .body {
    padding: 0 1rem;
  }
}

article.single .body .content a {
  color: #337ab7;
  text-decoration: underline;
}

article.single .body .content p {
  margin: 2rem 0;
  line-height: 2rem;
}

article.single .body .content pre {
  margin: 1rem -2rem;
  border-radius: 0;
  padding: 0;
  border: none;
  font-size: .7rem;
  line-height: 1rem;
}

article.single .body .content pre code {
  font-size: .9rem;
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  article.single .body .content pre {
    margin: 1rem -1rem;
  }
  article.single .body .content pre code {
    padding: 1rem 1rem;
  }
}

article.single .body .content p>code {
  font-size: .9rem;
  font-weight: bold;
  line-height: 1rem;
  background-color: #eee;
  color: #002b36;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px;
}

article.single .body h1 { margin: 4rem 0 0; font-weight: 700; }
article.single .body h2 { margin: 3rem 0 0; font-weight: 700; }
article.single .body h3 { margin: 2rem 0 0; font-weight: 700; }

/* Helpers */
ul.h-inline,
ol.h-inline {
  padding-left: 0;
}

.h-inline li {
  display: inline-block;
  margin-right: .5rem;
}

aside ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.7rem;
  font-size: 1rem;
}
aside li > a {
  color: #337ab7;
  text-decoration: none;
}

aside li > a:hover, aside li > a:focus, aside li > a:active {
  color: #337ab7;
  font-weight: bold;
}

/* Taxonomies */

ul.terms{
  margin: 1rem 0 1.5rem;
  padding: 0;
}

.terms li{
  display: inline-table;
}
.terms a{
  background-color: #eceff1;
  border-radius: 4px;
  color: #666;
  display: block;
  float: left;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: .125rem;
  padding: 0 0.8rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.terms .terms--invert a{
  background-color: #666;
  color: #eceff1;
}
